.font{
    font-size: 20px;
    background-color:orchid;
    font-family:monospace;
}

 .heading{
    text-align: center;
    color: gold;
    text-decoration: underline;
    font-family: cursive;
 }

#HobbiesListStyle{
    font-size: 20px;
    color:blueviolet;
    background-color:cadetblue;
    font-family:serif;
  }

#FavWebsiteStyle{

}
.images{
  background-color: rgb(206, 50, 206);
  text-align: center;
}
.Title{
  background-color:rgb(177, 177, 177) ;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}
.Text{
  background-color: bisque;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}